<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GerenciarCarro</servlet-name>
        <servlet-class>control.GerenciarCarro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarCliente</servlet-name>
        <servlet-class>control.GerenciarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarEndereco</servlet-name>
        <servlet-class>control.GerenciarEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMarca</servlet-name>
        <servlet-class>control.GerenciarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarModelo</servlet-name>
        <servlet-class>control.GerenciarModelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarOficina</servlet-name>
        <servlet-class>control.GerenciarOficina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarTipoOficina</servlet-name>
        <servlet-class>control.GerenciarTipoOficina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarTipoServico</servlet-name>
        <servlet-class>control.GerenciarTipoServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarVersao</servlet-name>
        <servlet-class>control.GerenciarVersao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarCarro</servlet-name>
        <url-pattern>/GerenciarCarro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarCliente</servlet-name>
        <url-pattern>/GerenciarCliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarEndereco</servlet-name>
        <url-pattern>/GerenciarEndereco.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMarca</servlet-name>
        <url-pattern>/GerenciarMarca.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarModelo</servlet-name>
        <url-pattern>/GerenciarModelo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarOficina</servlet-name>
        <url-pattern>/GerenciarOficina.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarTipoOficina</servlet-name>
        <url-pattern>/GerenciarTipoOficina.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarTipoServico</servlet-name>
        <url-pattern>/GerenciarTipoServico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarVersao</servlet-name>
        <url-pattern>/GerenciarVersao.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
