

/* -----------------------------------

  1. Reset default browser styles

------------------------------------- */

@viewport{user-zoom: fixed;}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe{width: 100%;}

b, strong{font-weight: bold !important;}

ul,
ol{
  list-style: none;
}

q{quotes: none;}

table, table td{ 
  padding: 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
}

img{
  vertical-align: top; 
  max-width: 100%;
}

embed{ vertical-align: top;}

input,
button{
  -webkit-appearance: none;
  outline: none;
}

button::-moz-focus-inner{border: 0;}

html{
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,body{height: 100%;}


/* ------------------------------------------------------
  
  3. General classes
  
------------------------------------------------------ */

.full-width-block{width: 100%;}

.wrapper{overflow: hidden;}

.relative{position: relative;}

.align-left{text-align: left;}

.align-center{text-align: center;}

.align-right{text-align: right;}

.f-left{float: left;}

.f-right{float: right;}

.hide{display: none;}

.show{display: block;}

.invisible{visibility: hidden;}

.tt-uppercase{text-transform: uppercase;}

img[class*="align"]{
  margin-bottom: 15px;
  max-width: 50%;
}

img.alignleft{
  float: left;
  margin-right: 30px;
}

img.alignright{
  float: right;
  margin-left: 30px;
}

.page-content-wrap{padding: 90px 0;}

[class*="page-section"]{padding: 90px 0;}

[class*="page-section"].no-space{padding: 0;}

.no-top-space{
  padding-top: 0;
}

.no-bottom-space{
  padding-bottom: 0;
}

.page-section2{padding: 70px 0;}

.page-section3{padding: 50px 0;}

.page-section-bg{
  padding: 90px 0;
  background: #f2f3f3;
}

.page-section-bg.type-2{
  padding: 130px 0 70px;
}

body.page-section-bg{
  padding: 0;
}

.content-element:not(:last-child){margin-bottom: 50px;}

.content-element2:not(:last-child){margin-bottom: 60px;}

.content-element3:not(:last-child){margin-bottom: 40px;}

.content-element4:not(:last-child){margin-bottom: 140px;}

.content-element5:not(:last-child){margin-bottom: 110px;}

.content-element6:not(:last-child){margin-bottom: 90px;}

.content-element7:not(:last-child){margin-bottom: 30px;}

.content-element8:not(:last-child){margin-bottom: 20px;}

.extra{width: 100%;}

[class*="flex-row"]{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

[class*="flex-row"]:after{
  display: none;
}

[class*="flex-row"] > *{
  float: none;
}

[class*="flex-row"].flex-justify{
  justify-content: space-between;
}

[class*="flex-row"].flex-center{
  align-items: center;
}

.responsive-iframe{
  position: relative;
  z-index: 1;
  height: 0px;
  padding-bottom: 56.2%;
}

.responsive-iframe > iframe{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

  .responsive-iframe.fix-size > iframe{
    top: -45%;
    height: 180%!important;
  }

/* Flex box collumns */

.fx-col-2 > *{
  -webkit-flex-basis: 50%;
          flex-basis: 50%;
}

.fx-col-3 > *{
  -webkit-flex-basis: 33.33333%;
          flex-basis: 33.33333%;
}

.fx-col-4 > *{
  -webkit-flex-basis: 25%;
          flex-basis: 25%;
}

.fx-col-5 > *{
  -webkit-flex-basis: 20%;
          flex-basis: 20%;
}

.fx-col-6 > *{
  -webkit-flex-basis: 16.66666%;
          flex-basis: 16.66666%;
}

/* -----------------------------------

  4. Typography

------------------------------------- */

h1,h2,h3,h4,h5,h6{
  font-family: 'Overpass', sans-serif;
  color: #31353c;
  line-height: 1.25em;
  font-weight: normal;
}

h1{
  font-size: 48px;
  line-height: 43px;
}

h2{font-size: 36px;}

h3{font-size: 30px;}

h4{font-size: 24px;}

h5{font-size: 18px;}

h6{font-size: 16px;}

h1:not(:last-child){
  margin-bottom: 25px;
}

h2:not(:last-child){
  margin-bottom: 20px;
}

h3:not(:last-child){
  margin-bottom: 13px;
}

h4:not(:last-child){
  margin-bottom: 15px;
}

h5:not(:last-child){
  margin-bottom: 15px;
}

h6:not(:last-child){
  margin-bottom: 15px;
}

p{padding: 0;}

p:not(:last-child){
  margin-bottom: 20px;
}

p.type-2:not(:last-child){
  margin-bottom: 5px;
}

.fw-medium{
  font-weight: 500;
}

a{
  margin: 0;
  padding: 0;
  font-size: 100%;
  outline: none;
  text-decoration: none;
  background: transparent;
  vertical-align: baseline;
}

a, a > *{
  text-decoration: none;
  outline: none !important;
}

a{
  color: #31353c;
}

a:hover{
  color: #1b82c6;
}

a,
button{
  -webkit-transition: all .5s ease;
          transition: all .5s ease;
}

a:hover,
button:hover{
  -webkit-transition: all .1s ease-in;
          transition: all .1s ease-in; 
}

a.link-text{
  color: #1b82c6;
}

a.link-text2{
  color: #365ddd;
}

a.link-text2 i{
  margin-right: 10px;
  display: inline-block;
}

a.link-text:hover,
a.link-text2:hover{
  text-decoration: underline;
}

[class^="icon-"]:before, 
[class*="icon-"]:before{
  width: auto;
  margin: 0;
  padding: 0;
}

.selected-type-1{
  background: #e2e5e5;
  color: #31353c;
}

.selected-type-2{
  background: #e1e7e9;
}

.title-holder:not(:last-child){
  margin-bottom: 30px;
}

.title-holder .section-title:not(:last-child){
  margin-bottom: 7px;
}

.section-title{
  font-weight: bold;
  letter-spacing: -1px;
}

.section-title.size-big{
  font-size: 48px;
  line-height: 58px;
}

.section-title:not(:last-child){
  margin-bottom: 30px;
}

h3.section-title{
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: -0.3px;
  font-weight: 900;
}

h3.section-title:not(:last-child){
  margin-bottom: 20px;
}

h5.section-title{
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: -0.1px;
}

h5.section-title:not(:last-child){
  margin-bottom: 20px;
}

.section-pre-title{
  text-transform: uppercase;
  color: #aab3b6;
  line-height: 0.8em;
}

.sub-title:not(:last-child){
  margin-bottom: 40px;
}

.section-pre-title:not(:last-child){margin-bottom: 0;}

.text-size-medium{
  font-size: 16px;
  line-height: 28px;
}

.text-size-medium:not(:last-child){
  margin-bottom: 20px;
}

.text-size-small{
  font-size: 12px;
  line-height: 16px;
}

.text-color-white{
  color: #fff;
}

/* Tooltips */

.tooltips a:not(.qustion-icon){
  position: relative;
  color: #31353c!important;
}

.tooltip{
  position:absolute;
  display:block;
  background:#365ddd;
  padding:6px 10px;
  color: #fff;
  font-size: 12px;
  line-height: 13px;
  opacity:0;
  visibility: hidden;
  white-space: nowrap;
  z-index:5;

  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

a.top-tooltip .tooltip{
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  -webkit-transform: translate(-50%,-15px);
  -moz-transform: translate(-50%,-15px);
  -o-transform: translate(-50%,-15px);
  -ms-transform: translate(-50%,-15px);
  transform: translate(-50%,-15px);
}

a.left-tooltip .tooltip{
  top: 50%;
  right: 100%;
  margin-right: 5px;
  -webkit-transform: translate(-15px,-50%);
  -moz-transform: translate(-15px,-50%);
  -o-transform: translate(-15px,-50%);
  -ms-transform: translate(-15px,-50%);
  transform: translate(-15px,-50%);
}

a.right-tooltip .tooltip{
  top: 50%;
  left: 100%;
  margin-left: 9px;
  -webkit-transform: translate(15px,-50%);
  -moz-transform: translate(15px,-50%);
  -o-transform: translate(15px,-50%);
  -ms-transform: translate(15px,-50%);
  transform: translate(15px,-50%);
}

a.bottom-tooltip .tooltip{
  top: 100%;
  left: 50%;
  margin-top: 5px;
  -webkit-transform: translate(-50%,15px);
  -moz-transform: translate(-50%,15px);
  -o-transform: translate(-50%,15px);
  -ms-transform: translate(-50%,15px);
  transform: translate(-50%,15px);
}

a.top-tooltip:hover .tooltip{
  -webkit-transform: translate(-50%,0px);
  -moz-transform: translate(-50%,0px);
  -o-transform: translate(-50%,0px);
  -ms-transform: translate(-50%,0px);
  transform: translate(-50%,0px);
}

a.left-tooltip:hover .tooltip{
   -webkit-transform: translate(0px,-50%);
  -moz-transform: translate(0px,-50%);
  -o-transform: translate(0px,-50%);
  -ms-transform: translate(0px,-50%);
  transform: translate(0px,-50%);
}

a.right-tooltip:hover .tooltip{
   -webkit-transform: translate(0px,-50%);
  -moz-transform: translate(0px,-50%);
  -o-transform: translate(0px,-50%);
  -ms-transform: translate(0px,-50%);
  transform: translate(0px,-50%);
}

a.bottom-tooltip:hover .tooltip{
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.tooltips a .tooltip:after,
.tooltips .qustion-tooltip .tooltip:after{
  position:absolute;
  content:"";
  width:0;
  height:0;
}

a.top-tooltip .tooltip:after{
  border-left:7px solid transparent;
  border-top:5px solid #365ddd;
  border-right:7px solid transparent;
  top: 100%;
  left:50%;
  margin-left:-7px;
}

.tooltips a:not(.qustion-icon):hover .tooltip,
.qustion-tooltip .tooltip.opened{
  opacity: 1;
  visibility: visible;
}

.tooltips a:hover{text-decoration: none;}

.tooltips a.left-tooltip .tooltip:after{
  border-top: 7px solid transparent;
  border-left: 5px solid #365ddd;
  border-bottom: 7px solid transparent;
  top: calc(50% - 7px);
  left: 100%;
}

.tooltips a.right-tooltip .tooltip:after,
.tooltips .qustion-tooltip.right-tooltip .tooltip:after{
  border-top: 7px solid transparent;
  border-right: 5px solid #365ddd;
  border-bottom: 7px solid transparent;
  right: 100%;
  top: calc(50% - 7px);
}

.tooltips a.bottom-tooltip .tooltip:after{
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 5px solid #365ddd;
  border-top: none;
  bottom: 100%;
  left: calc(50% - 7px);
}

.qustion-tooltip{
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-top: -7px;
    right: 0;
  }

  .qustion-icon{
    font-size: 12px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    background-color: #365ddd;
    color: #fff!important;
  }

  .qustion-icon:before{
    content: '\F128';
    font-family: 'fontello';
  }

  .qustion-tooltip .tooltip{
    left: 25px;
    cursor: text;
    padding: 10px;
    padding-right: 20px;
    font-size: 12px;
    width: 230px;
    white-space: normal;
    text-align: left;
    line-height: 18px;
    letter-spacing: 0.25px;

    -webkit-transform: translate(0px,-55%);
    -moz-transform: translate(0px,-55%);
    -o-transform: translate(0px,-55%);
    -ms-transform: translate(0px,-55%);
    transform: translate(0px,-55%);
  }

  .qustion-tooltip .tooltip.opened{
    -webkit-transform: translate(0px,-55%);
    -moz-transform: translate(0px,-55%);
    -o-transform: translate(0px,-55%);
    -ms-transform: translate(0px,-55%);
    transform: translate(0px,-55%);
  }

  .qustion-tooltip .tooltip span{
    display: block;
  }

  .qustion-tooltip .tooltip span:not(:last-child){
    margin-bottom: 5px;
  }

  .close-tooltip{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 18px;
    z-index: 9;
  }

  .tooltips{
    position: relative;
  }

/* -----------------------------------

  5. Header

------------------------------------- */

#header{
  position: relative;
  top: 0;
  z-index: 99;
  width: 100%;
  background: #fff;

  transition: all .35s;
}

#header.header-fixed{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
}

  #header .menu-holder > .menu-wrap{
    justify-content: space-between;
  }

    #header.header-fixed .top-header,
    #header.header-fixed .contact-info-menu > *{
      border-color: rgba(255,255,255,0.1)!important;
    }

    #header.header-fixed #main-navigation > ul > li > a{
      color: #fff;
    }

    #header.header-fixed .contact-info-menu .item-inner > a,
    #header.header-fixed .contact-info-menu > *.lang-button i{
      color: #fff;
      font-weight: bold;
      letter-spacing: 0.5px;
    }

    #header.header-fixed .contact-info-menu > * span{
      color: #d5d7d8;
      font-weight: bold;
    }

    #header.header-fixed .logo-wrap .logo > img:last-child{
      display: none;
    }

  #header:not(.header-2) .top-header{
    padding: 0 0 0 50px;
    border-bottom: 2px solid #e2e5e5;
  }

  #header .top-header{
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  .logo{
    display: inline-block;
  }

  .login-btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #f2f3f3;
    color: #31353c;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50%;
    font-family: 'linearicons';
  }

  .login-btn:hover{
    color: #1b82c6;
  }

    .login-btn:before{
      content: "\e71e";
    }

  /* Lang button */

  .lang-button{
    position: relative;
  }

    .lang-button .item-inner > a:after{
      font-family: 'fontello';
      content: '\f107';
      margin-left: 10px;
      font-size: 12px;
      display: inline-block;
      vertical-align: 0;
    }

    .contact-info-menu > *.lang-button i{
      margin-right: 12px;
      color: #31353c;
      font-size: 16px;
    }

    .lang-button:hover .item-inner > a{
      color: #1b82c6;
    }

    .lang-button .dropdown-list{
      font-family: 'Overpass', sans-serif;
      padding-top: 2px;
      margin-bottom: -2px;
      padding: 15px 0;
      background-color: #f2f3f3;
    }

      .lang-button .dropdown-list > li > a{
        display: block;
        padding: 8px 40px;
        font-size: 15px;
        text-transform: none;
      }

      .lang-button .dropdown-list > li:hover > a{background: #fff;}

    .lang-button:hover .dropdown-list,
    .lang-button:active .dropdown-list{
      visibility: visible;
      opacity: 1;
    }

    .contact-info-menu.type-2 > *.lang-button i{
      font-size: 14px;
      margin-right: 10px;
    }

    .contact-info-menu.type-2 > *.lang-button .item-inner > a{
      letter-spacing: 0.3px;
      font-size: 13px;
    }

  .dropdown-list,
  .dropdown-window{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 0;
    min-width: 100px;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    overflow: hidden;
    
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }

  .dropdown-window{
    left: auto;
    right: 0;
  }

  .dropdown-window{
    -webkit-transform: scale3d(.85, .85, .85);
        -ms-transform: scale3d(.85, .85, .85);
            transform: scale3d(.85, .85, .85);
  }

  .dropdown-window.opened{
    opacity: 1;
    visibility: visible;

    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

/*----------- Header style-2 --------------*/

#header.header-2{
  background: #fff;
}

.header-2 .top-header{
  background-color: #272a30;
  padding: 30px 0;
}

.header-2 #main-navigation > ul,
.header-3 #main-navigation > ul{
  margin: 0;
}

.header-2 #main-navigation > ul > li > a,
.header-3 #main-navigation > ul > li > a,
.header-4 #main-navigation > ul > li > a{
  padding: 19px 20px 17px;
  margin-bottom: 0;
}

.header-2 .our-info-list,


.header-2 .our-info-list:not(:last-child){
  margin-right: 35px;
}

.header-2 .menu-holder{
  position: relative;
  background-color: #	;
}

.header-2 .menu-wrap{
  position: relative;
}

.header-2 .search-holder{
  position: absolute;
  right: 0;
  top: calc(50% - 13px);
}

/*----------- Header style-3 --------------*/

.header-3 .top-bar{
  padding: 8px 0;
  background-color: #f2f3f3;
  font-size: 13px;
}

#header.header-3 .top-header{
  padding: 20px 0;
  border-bottom: none;
}

.header-3 .menu-holder{
  background-color: #3054c6;
}

.header-3 #main-navigation > ul > li > a,
.header-4 #main-navigation > ul > li > a{
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
}

.header-3 #main-navigation > ul > li.current > a, 
.header-3 #main-navigation > ul > li:hover > a{
  color: #fff;
}

/*----------- Header style-3 --------------*/

.header-4 .top-bar{
  padding: 8px 20px;
  background-color: #272a30;
  font-size: 13px;
}

  .header-4 .top-bar .slash-list > a:not(:hover),
  .header-4 .top-bar .contact-info-menu > *.lang-button i,
  .header-4 .top-bar .contact-info-menu > *.lang-button .item-inner > a{
    color: #fff;
  }

  .header-4 .top-bar .slash-list > a:not(:last-child):after{
    color: #d5d7d8;
  }

#header.header-4 .top-header{
  padding: 35px 20px;
  border-bottom: none;
}

  .header-4 #main-navigation > ul > li > a{
    color: #31353c;
  }

/*----------- Contact info --------------*/

.contact-info-menu{
  font-size: 0;
  text-align: left;
}

  .contact-info-menu > *{
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 12px;
    border-left: 2px solid #e2e5e5;
    padding: 26px 40px 22px;
    height: 100%;
    position: relative;
    font-family: 'Overpass', sans-serif;
  }

  .contact-info-menu > *.lang-button{
    padding-top: 36px;
    padding-bottom: 32px;
    cursor: pointer;
  }

    .contact-info-menu > * span{
      display: block;
      letter-spacing: 0.5px;
    }

    .contact-info-menu .contact-info-item > a:hover{
      text-decoration: underline;
    }

      .contact-info-menu > * i{
        font-size: 20px;
        color: #1b82c6;
        text-align: left;
        margin-right: 17px;
      }

      .contact-info-menu > * > a{
        font-family: 'Overpass', sans-serif;
        font-weight: bold;
      }

        .contact-info-menu > * a > b{
          font-size: 18px;
          color: #1b82c6;
          font-weight: 900!important;
        }

  .contact-info-menu.type-2 > *.lang-button{
    padding: 0;
    border: none;
  }

    .contact-info-menu.type-2 .lang-button .dropdown-list > li > a{
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }

    .contact-info-menu.type-2  > *{
      text-transform: none;
    }

/* Main Navigation */

#wrapper{
  overflow: hidden;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

#main-navigation > ul{
  font-size: 0;
  margin: 0 20px;
  position: relative;
}

#main-navigation > ul > li{
  display: inline-block;
  position: relative;
  font-family: 'Overpass', sans-serif;
}

#main-navigation > ul > li > a{
  color: #31353c;
  font-weight: 600;
  display: block;
  position: relative;
  padding: 43px 20px 31px;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
  font-size: 17px;
}

.searchform-wrap.opened, 
.main-navigation > li:hover > .sub-menu-wrap{
  width: 355px;
  opacity: 1;
  visibility: visible;
}

  #main-navigation > ul > li.current > a,
  #main-navigation > ul > li:hover > a{
    color: ##1f87d1;
    border-color: ##1f87d1;
  }

  .sub-menu-wrap ul li{
    position: relative;
  }

  .sub-menu-wrap ul li:hover > a,
  .sub-menu-wrap ul li.current > a{
    color: ##1f87d1;
    background: #fff;
  }

  #main-navigation > ul > li.dropdown > a:after{
    font-family: 'fontello';
    content: '\f107';
    margin-left: 10px;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
  }

  .sub-menu-wrap{
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 200px;
    background: #f2f3f3;
    padding: 15px 0;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    
    -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transform: translate3d(-15px, 15px, 0);
    -moz-transform: translate3d(-15px, 15px, 0);
    -o-transform: translate3d(-15px, 15px, 0);
    -ms-transform: translate3d(-15px, 15px, 0);
    transform: translate3d(-15px, 15px, 0);

    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.1);
  }

  .sub-menu-wrap:before{
    content: '';
    bottom: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    display: block;
    position: absolute;
    background: transparent;
  }

  .sub-menu-wrap .sub-menu-wrap.sub-menu-inner{
    left: 100%;
    background: #f2f3f6;
    top: 0;
    margin-left: 2px;
    margin-top: -15px;

    -webkit-transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transform: translate3d(-15px, 15px, 0);
    -moz-transform: translate3d(-15px, 15px, 0);
    -o-transform: translate3d(-15px, 15px, 0);
    -ms-transform: translate3d(-15px, 15px, 0);
    transform: translate3d(-15px, 15px, 0);
  }

  .sub-menu-wrap .sub-menu-wrap.sub-menu-inner:before{
    right: 100%;
    left: auto;
    width: 2px;
    top: 0;
    bottom: auto;
    height: 100%;
  }

  #main-navigation > ul > li:hover > .sub-menu-wrap:not(.sub-menu-inner), 
  .sub-menu-wrap ul li:hover .sub-menu-wrap.sub-menu-inner{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }

    .sub-menu-wrap ul li a{
      font-family: 'Overpass', sans-serif;
      display: block;
      white-space: pre;
      position: relative;
      font-size: 15px; 
      line-height: 22px;
      padding: 10px 35px 8px 20px;
      color: #2a2c32;
    }

    .sub-menu-wrap ul li.sub > a:after{
      font-family: 'fontello';
      content: '\f105';
      position: absolute;
      right: 20px;
    }

    #main-navigation > ul > li.with-label > a{
      padding-right: 45px;
    }

    #main-navigation > ul > li.with-label > a .label{
      top: 12px;
      right: 0;
      padding: 4px 5px 3px;
      font-size: 10px;
    }

    #main-navigation > ul > li.with-label > a .label:before{
      border-width: 0 8px 18px 0;
      border-color: transparent #1b82c6 transparent transparent;
    }

.responsive-nav-button{
  display: none;
  text-align: center;
  color: #31353c;
  font-size: 30px;
  height: 100%;
  padding: 0 20px;
  border-right: 2px solid #e2e5e5;
  z-index: 2;
  border-radius: 0;
  background: transparent;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

header:not([class*="header"]) .responsive-nav-button{
  height: 73px;
}

.responsive-nav-button:hover{color: #1b82c6;}

.responsive-nav-button:before{
  font-family: 'fontello';
  content: "\e895";
}

.header-2 .responsive-nav-button,
.header-3 .responsive-nav-button,
.header-4 .responsive-nav-button{
  border-right: none;
  margin: 20px 0;
  padding: 0;
}

.header-4 .responsive-nav-button{
  margin: 0;
}

.header-3 .responsive-nav-button{
  color: #fff;
}

#header.header-fixed .responsive-nav-button{
  border-color: rgba(255,255,255,0.1)!important;
  color: #fff;
  height: 73px;
}

#header.header-fixed .responsive-nav-button:hover,
.header-3 .responsive-nav-button:hover{
  color: #1b82c6;
}

#wrapper #advanced-menu-hide{
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
 -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.menu-button-wrap{
  text-align: right;
  padding: 10px 0;
}

.mobile-advanced{display: none;}

#main-navigation > ul > li.has-megamenu{
  position: static;
}

.sub-menu-wrap.mega-menu{
  white-space: nowrap;
  left: 0;
  vertical-align: top;
  padding: 25px 0;
  min-width: 625px;
  overflow: hidden;
}

.full-width-menu.sub-menu-wrap.mega-menu{
  min-width: 100%;
}

.header-2 .sub-menu-wrap.mega-menu{
  left: 0;
}

.header-3 .sub-menu-wrap.mega-menu,
.header-4 .sub-menu-wrap.mega-menu{
  left: auto;
  right: 0;
}

.mega-menu > * h5{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 20px;
}

/* Search and Shopping cart buttons */

.search-holder,
.shop-cart{
  display: inline-block;
  vertical-align: middle;
}

button.search-button,
.shop-cart .sc-cart-btn{
  font-family: 'Linearicons';
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
  background: none;
  color: #31353c;
}

button.search-button:hover{
  color: #1b82c6;
}

button.search-button:before{content: "\e922";}

  .searchform-wrap h4{
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
  }

  .searchform-wrap input{
    border: none;
    padding-left: 0;
    padding-right: 30px;
    color: #fff;
  }

  .searchform-wrap input::-webkit-input-placeholder{
    color: #636363;
  }

  .searchform-wrap input::-moz-placeholder{
    color: #636363;
  }

  .close-search-form{
    background-color: transparent;
    position: absolute;
    font-family: 'fontello';
    right: 25px;
    font-size: 25px;
    color: #1b82c6;
    z-index: 99;
    font-weight: normal;
    display: inline-block;
    top: 25px;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .close-search-form:hover{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .close-search-form:before{content: '\e858';}

  .searchform-wrap{
    border-bottom: none;
    display: block;
    width: 100%;
    height: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    text-align: center;
    z-index: 201;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;

    -webkit-transform: rotate3d(1,0,0,-90deg);
    transform: rotate3d(1,0,0,-90deg);
  }

  .searchform-wrap.opened{
    width: 100%;
    position: relative;
    height: 55px;
    padding: 6px 0;

    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }

    .searchform-wrap .vc-child{
      width: 560px;
      display: inline-block;
    }

    .searchform-wrap input{
      border: none!important;
      background-color: transparent!important;
      font-size: 16px;
      color: #31353c!important;
      padding-right: 60px!important;
    }

    .searchform-wrap form{
      position: relative;
    }

    .searchform-wrap form button{
      position: absolute;
      right: 15px;
      top: calc(50% - 14px);
      font-family: 'Linearicons';
      font-size: 24px;
      line-height: 28px;
      color: #31353c;
      background: none;
    }

    .searchform-wrap form button:hover{opacity: 1;}

    .searchform-wrap form button:before{content: "\e922";}

    .searchform-wrap form input::-webkit-input-placeholder,
    .searchform-wrap form textarea::-webkit-input-placeholder{
      color: #31353c;
    }

    .searchform-wrap form input::-moz-placeholder,
    .searchform-wrap form textarea::-moz-placeholder{
      color: #31353c;
    }

    .searchform-wrap form input:not([type="submit"]):focus,
    .searchform-wrap form textarea:focus{
      border-color: transparent;
      box-shadow: none;
    }

  #header button.search-button{
    margin-left: 35px;
  }

  .close-search-form{
    background-color: transparent;
    position: absolute;
    font-family: 'linearicons';
    right: 30px;
    font-size: 25px;
    color: #31353c;
    z-index: 99;
    font-weight: normal;
    display: inline-block;
    top: 50%;
    margin-top: -13px;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .close-search-form:before{content: '\e92a';}

/* ------------------------------------------------------
    
    6. Content Elements
    
------------------------------------------------------ */

#content{
  position: relative;
}

.columns-section h3{
  font-weight: bold;
}

/* Brend box */

.brend-section{
  margin-bottom: -30px;
}

  .brend-section > *{
    padding-bottom: 30px;
  }

  .brend-section .brend-item{
    background-color: #f2f3f3;
    padding: 20px;
    text-align: center;
  }

  .brend-section .brend-item figure{
    height: 120px;
    position: relative;
  }

  .brend-section .brend-item figure img{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    margin: 0 auto;
    opacity: 1;
  }

  .brend-section .brend-item figure:not(:last-child){
    margin-bottom: 15px;
  }

  .brend-section .brend-item h6{
    font-weight: 900;
  }

  .brend-section .brend-item ul li{
    line-height: 30px;
  }

  .brend-section .brend-item ul li a:hover{
    color: #31353c;
    text-decoration: underline;
  }

  .brend-item img{
    opacity: 0.5;
    transition: opacity .5s;
  }

  .brend-item:hover img{
    opacity: 1;
  }

/* Backgrounds */

.parallax-section{
  position: relative;
  background-attachment: fixed!important;
  background-repeat: no-repeat!important;
  background-position: center center!important;
  height: 100%;
  width: 100%; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover!important;
}

.half-bg-col{
  position: relative;
}

.col-bg{
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-position: center center;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}

[class*="img-col"]{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}

.img-col-left{
  left: 0;
}

.img-col-right{
  right: 0;
}

  .half-bg-col > .container > .row{
    margin: 0 -30px;
  }

  .half-bg-col > .container > .row > [class*="col-"]{
    padding: 0 30px;
  }

  .img-full-col > .half-col-img{
    background-repeat: no-repeat!important;
    background-position: center center!important;
    height: 100%;
    width: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover!important;
  }

.media-holder{
  position: relative;
  padding: 310px 0 50px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 100%;
  width: 100%;
}

.media-holder h1{
  font-size: 82px;
  font-weight: 800;
  line-height: 65px;
}

.media-holder h1:not(:last-child){
  margin-bottom: 10px;
}

.media-holder span{
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 2px;
}

.media-holder h1,
.media-holder h4{
  color: #fff;
}

.media-holder h4{
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.parallax-section .section-title,
.parallax-section h3{
  color: #fff;
}

.parallax-section .section-title .title-holder p,
.parallax-section{
  color: #999a9d;
}

.media-holder.type-2{
  padding: 90px 0;
  min-height: 508px;
}

.media-holder.type-2 .tabs{
  max-width: 565px;
}

.media-holder.type-3{
  padding: 90px 0 0;
  height: 550px;
}

.media-holder.type-3 .content-element5 .btn-list{
  margin: -7px;
}

.media-holder.type-3 .content-element5 .btn-list .btn{
  margin: 7px;
}

.media-holder.type-3 .content-element5 h1{
  font-size: 72px;
  text-transform: uppercase;
}

.media-holder.type-3 .content-element5 h1:not(:last-child){
  margin-bottom: 5px;
}

.media-holder.type-3 .content-element5 h4:not(:last-child){
  margin-bottom: 30px;
}

.media-holder.type-3 .tabs{
  margin-bottom: -60px;
  z-index: 2;
  position: relative;
}

.parallax-section .tabs.style-2 .tabs-nav > li > a{
  color: #fff;
}

.parallax-section .tabs.style-2 .tabs-nav > li.ui-tabs-active > a{
  color: #1b82c6;
}

.parallax-section .tabs.style-2:not(.vertical) .tabs-nav:before{
  background: #3d424a;
}

/*Appointment Page*/

#progressbar{
  counter-reset: list;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: hidden;
}

#progressbar:not(:last-child){
  margin-bottom: 40px;
}

#progressbar > li{
  counter-increment: list;
  border: 2px solid #d5d7d8;
  padding: 10px 35px 10px 70px;
  text-transform: uppercase;
  font-family: 'Overpass',sans-serif;
  line-height: 16px;
  position: relative;
  background: #fff;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
}

#progressbar > li:after, 
#progressbar > li:before{
  left: 100%;
  top: -2px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

#progressbar > li:last-child:after, 
#progressbar > li:last-child:before{
  display: none;
}

#progressbar > li:after{
  top: -10px;
  border-bottom-width: 36px;
  border-top-width: 36px;
  border-left: 10px solid #d5d7d8;
  z-index: 2;
}  

#progressbar > li:before{
  border-bottom-width: 28px;
  border-top-width: 28px;
  border-left: 8px solid #fff;
  z-index: 3;
} 

#progressbar > li span:before{
  position: absolute;
  content: counter(list);
  font-size: 16px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f2f3f3;
  text-align: center;
  line-height: 32px;
  top: 50%;
  left: 30px;
  margin-top: -15px;
} 

#progressbar > li:first-child{
  border-radius: 3px 0 0 3px;
}

#progressbar > li:last-child{
  border-radius: 0 3px 3px 0;
}

#progressbar > li.app-active{
  background: #31353c;
  color: #fff;
  border-color: #31353c;
}

#progressbar > li.app-active:before,
#progressbar > li.app-active:after{
  border-left-color: #31353c;
}

#progressbar > li.app-active span:before{
  color: #31353c;
  background-color: #fff;
}

/* Breadcrumbs */

.breadcrumbs-wrap{
  padding: 60px 0;
  -webkit-background-size: cover;
  background-size: cover;
}

.breadcrumbs-wrap.type-2{
  text-align: left;
}

.breadcrumbs-wrap.style-2{
  background: #f6f6f6;
}

  .breadcrumbs-wrap .page-title:not(:last-child){
    margin-bottom: 10px;
  }

  .breadcrumbs-wrap .page-title{
    color: #fff;
    font-weight: 800;
  }

  .breadcrumbs-wrap .breadcrumbs{
    color: #fff;
    font-size: 14px;
  }

  .breadcrumbs-wrap .breadcrumbs > li{
    display: inline-block;
  }

    .breadcrumbs-wrap .breadcrumbs > li > a{
      color: #fff;
      border-bottom: 1px solid transparent;
    }

    .breadcrumbs-wrap .breadcrumbs > li > a:hover{
      border-color: #fff;
    }

    .breadcrumbs > li:not(:first-child):before{
      content: "/";
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      margin-right: 4px;
      padding-left: 2px;
    }

  /*----------- Tables --------------*/

  table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  [class*="table-type"]{
    border-radius: 3px;
    overflow: hidden;
  }

  .table-type-2{border-radius: 5px 5px 3px 3px;}

  [class*="table-type"] table tr > td,
  [class*="table-type"] table tr > th{
    padding: 13px 25px;
    text-align: left;
  }

  [class*="table-type"] table tr > th,
  [class*="table-type"] table tr.bg-cell > td{
    color: #31353c;
    font-size: 16px;
    font-weight: normal;
  }

  [class*="table-type"] table tr.bg-cell > td,
  [class*="table-type"] table tr.bg-cell > th{
    font-weight: bold;
  }

  [class*="table-type"] table tr > td{
    border-top: 2px solid #e2e5e5;
  }

  [class*="table-type"] table tr > td:first-child{
    border-left: 4px solid #e2e5e5;
  }

  [class*="table-type"] table tr > td:last-child{
    border-right: 4px solid #e2e5e5;
  }

  [class*="table-type"] table tr:last-child > td{
    border-bottom: 2px solid #e2e5e5;
  }

  [class*="table-type"].style-2 table tr > td{
    background-color: #fff;
  }

  .table-type-1 table tr.bg-cell > td{
    border: none;
    background: #365ddd;
  }

  .table-type-2 table tr.bg-cell td,
  .table-type-2 table tr.bg-cell th{
    border: none;
    background: #365ddd;
  }

  .table-type-1 tr:first-child > th,
  .table-type-2 tr > th{
    background: #e2e5e5;
  }

  .table-type-2 tr > th{
    border: 2px solid #e2e5e5;
  }

  .table-type-2 tr > td{
    border-width: 2px!important;
  }

  [class*="table-type"] table .total-cell > td,
  [class*="table-type"] table .total-cell > th{
    font-weight: bold;
    color: #1b82c6!important;
  }

  .table-type-2 table tr > td,
  .table-type-2 table tr > th{
    padding: 12px 20px;
    text-align: left;
  }

  .table-type-2.compare-table table tr > th{
    width: 21%;
  }

  .table-type-2.compare-table table tr.title + tr:not(:last-child) > td{
    border-top: none;
  }

  .table-type-2.compare-table table tr.title > th{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0;
    vertical-align: bottom;
    padding-top: 30px;
  }

  .table-type-2.compare-table table tr.title.top-side > th{
    vertical-align: top;
  }

  .table-type-2.compare-table table tr.title > td{
    padding: 30px 25px;
  }

  .table-type-2.compare-table .product:hover{
    box-shadow: none;
  }

  .table-type-2.compare-table .custom-list:not(:last-child){
    margin-bottom: 15px;
  }

  /*----------- Lists --------------*/

  .custom-list:not(:last-child){
    margin-bottom: 30px;
  }

  .custom-list > li{
    position: relative;
    text-align: left;
  }

  .custom-list > li > a:hover{
    color: inherit;
    text-decoration: underline;
  }

    .custom-list li span{
      color: #7b8285;
    }

    .custom-list > li > ul > li,
    .custom-list > li > ol > li{
      margin-left: 20px;
    }

  .custom-list.type2:not(:last-child){
    margin-bottom: 20px;
  }

  .custom-list.type2 > li:not(:last-child){
    margin-bottom: 0;
  }

  .custom-list > li:not(:last-child),
  .custom-list > li > ul > li:not(:last-child),
  .custom-list > li > ol > li:not(:last-child){
    margin-bottom: 12px;
  }

  .custom-list > li > ul,
  .custom-list > li > ol{
    margin-top: 10px;
  }

  .custom-list > li h6{
    font-family: 'Heebo', sans-serif;
    line-height: 26px;
    color: #4b4e50;
  }

  .custom-list > li h6:not(:last-child){
    margin-bottom: 5px;
  }

  .custom-list[class*="type-"] li::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-family: 'fontello';
    color: #1b82c6;
    font-size: 12px;
  }

  .custom-list.type-1 li::before{
    content: "\E85D";
  }

  .custom-list.type-2 li::before{
    content: "\E813";
  }

  .custom-list.type-2.style-2 li::before{
    content: "\e959";
    font-size: 24px;
    float: left;
    margin-right: 20px;
  }

  .custom-list.type-2.style-2 li::before{
    font-family: 'linearicons';
  }

  .custom-list.type-3 li::before{
    content: "\E819";
  }

  .custom-list.type-4 li::before{
    content: "\e806";
  }

  .custom-list.type-5 li::before{
    background-color: #1b82c6;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .custom-list.type-6,
  .custom-list.type-6 > li > ol{
    counter-reset: item;
  }

  .custom-list.type-6 li:before{
    content: counters(item, ".")".";
    counter-increment: item;
    font-size: 14px;
  }

  .custom-list > li:not(:last-child){
    margin-bottom: 12px;
  }

  /* info links */

  .info-links > li{
    line-height: 30px;
  }

  .info-links > li a{
    color: #1b82c6;
    position: relative;
    letter-spacing: 0.3px;
    font-weight: normal;
  }

  .info-links > li a:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 1px;
    width: 100%;
    background: #1b82c6;
    visibility: hidden;
    opacity: 0;
    transition: all .35s ease;
  }

  .info-links > li a:hover:before{
    opacity: 1;
    visibility: visible;
  }

  .info-links.hr-type > li{
    margin: 0 7px;
    display: inline-block;
  }

  .info-links.comment-type > li{
    font-size: 16px;
    color: #999a9d;
  }

  .info-links.comment-type > li a{
    color: #31323c;
  }

  .info-links.comment-type > li a:hover{
    text-decoration: underline;
  }

  .info-links.comment-type > li a.author{
    color: #365ddd;
  }

  .info-links.comment-type > li a.author:hover{
    color: #365ddd;
  }

  .info-links.comment-type > li a:before{
    display: none;
  }

 
  /* Our info list */

  .our-info-list{
    margin: 0 -12.5px -15px;
  }

  .our-info-list > li{
    display: inline-block;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #d5d7d8;
    font-family: 'Overpass',sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1em;
    vertical-align: top;
    padding: 0 10px 15px;
  }

  .our-info-list > li > span{
    font-size: 20px;
    color: #e41d25;
  }

  .our-info-list > li > span,
  .our-info-list > li > div{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    text-align: left;
  }

  .our-info-list > li > div{margin-right: 0;}

    .our-info-list > li a,
    .our-info-list > li div > span{
      font-family: 'Overpass', sans-serif;
      font-weight: 900;
      font-size: 18px;
      display: block;
      line-height: 1em;
      color: #da1e26;
      margin-top: 10px;
      letter-spacing: 0;
    }

    .our-info-list > li div > p{
      color: #fff;
      line-height: 20px;
      font-size: 15px;
      font-weight: 600;
      text-transform: none;
      letter-spacing: 0;
    }

  /* Our slash list */

  .slash-list > a{
    position: relative;
    letter-spacing: 0.4px;
  }

  .slash-list > a:not(:last-child){
    padding-right: 10px;
    margin-right: 7px;
  }

  .slash-list > a:not(:last-child):after{
    position: absolute;
    content: '';
    height: 11px;
    width: 1px;
    right: 0;
    top: 50%;
    margin-top: -5.5px;
    background-color: #d5d7d8;
  }

  /* Vacancy list */

  .vacancy-list{
    margin: -10px 0;
  }

  .vacancy-list:not(:last-child){
    margin-bottom: 25px;
  }

    .vacancy-list > li{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 11px 0 10px;
    }

    .vacancy-list > li,
    .vacancy-list > li a{
      color: #fff;
    }

    .vacancy-list > li > a{
      border-bottom: 1px solid transparent;
      font-size: 18px;
    }

    .vacancy-list > li > a:hover{
      border-bottom-color: #fff;
      color: inherit;
    }

    .vacancy-list > li:not(:last-child){
      border-bottom: 1px solid rgba(255,255,255,0.3);
    }

  /* Contact list */

  .contact-section .contact-item:not(:last-child){
    margin-bottom: 20px;
  }

    .contact-title{
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .contact-title > span{
      color: #4b4e50;
      text-transform: none;
      letter-spacing: 0;
      font-family: 'Roboto',sans-serif;
    }

    .contact-title:not(:last-child),
    .contact-item .contact-desc:not(:last-child){
      margin-bottom: 5px;
    }

    .contact-item .contact-desc{
      display: block;
      font-weight: bold;
      color: #31353c;
      letter-spacing: 0.25px;
    }

    .contact-item a.contact-desc:hover{
      text-decoration: underline;
    }

    .contact-item .contact-title i{
      margin-right: 5px;
      color: #1b82c6;
      font-size: 16px;
      vertical-align: -2px;
    }

   

    .contact-item .contact-title > .contact-desc{
      display: inline-block;
      font-weight: normal;
      text-transform: none;
      color: #4b4e50;
    }


 
/* -----------------------------------

  13. Footer

------------------------------------- */

#footer{
  position: relative;
}

[class*="footer"] .top-footer{
  padding: 75px 0;
  background: #272a30;
  color: #999a9d;
  position: relative;
}

[class*="footer"] .widget{
  padding: 0;
  background: transparent;
}

[class*="footer"] .widget:not(:last-child){
  margin-bottom: 50px;
}

  [class*="footer"] .widget .widget-title{
    color: #fff;
    line-height: 24px;
  }

  [class*="footer"] .widget .widget-title:not(:last-child){
    margin-bottom: 20px;
  }

  [class*="footer"] .widget .sub-title{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
  }

  [class*="footer"] .widget .sub-title:not(:last-child){
    margin-bottom: 10px;
  }

  .contact-list > li span{
    min-width: 50px;
    display: inline-block;
  }

  .copyright{
    color: #696b6f;
  }

  .copyright-section{
    position: relative;
    background: #22252a;
    padding: 25px 0;
  }

  [class*="footer"]:not(.pt-footer) > .btn,
  [class*="footer"] .copyright-section > .btn{
    position: absolute;
    right: 20px;
    top: 15px;
  }





